<html lang="en" ng-app="AngularUiDemo">
	<head>
		<title>Angular UI Demo</title>
		<link rel="stylesheet" href="bower_components/angular-bootstrap/ui-bootstrap-csp.css">
		<link rel="stylesheet" href="bower_components/jquery-ui/themes/smoothness/jquery-ui.css"/>
		<link rel="stylesheet" href="bower_components/angular-ui-select/dist/select.css">
		<link rel="stylesheet" href="bower_components/fullcalendar/dist/fullcalendar.css"/>
		<link rel="stylesheet" href="bower_components/angular-slider/slider.css"/>
		<script type="text/javascript" src="bower_components/jquery/dist/jquery.js"></script>
		<script type="text/javascript" src="bower_components/jquery-ui/jquery-ui.js"></script>
   		<script type="text/javascript" src="bower_components/angular/angular.js"></script>
		<script type="text/javascript" src="bower_components/angular-ui-date/src/date.js"></script>
		<script src="bower_components/angular-bootstrap/ui-bootstrap.js" type="text/javascript"></script>
		<!-- jquery, moment, and angular have to get included before fullcalendar -->
		<script type="text/javascript" src="bower_components/moment/min/moment.min.js"></script>
		<script type="text/javascript" src="bower_components/angular-ui-event/dist/event.js"></script>
 		<script type="text/javascript" src="bower_components/moment/min/moment.min.js"></script>
		<script type="text/javascript" src="bower_components/fullcalendar/dist/fullcalendar.min.js"></script>
  		<script type="text/javascript" src="bower_components/fullcalendar/dist/gcal.js"></script>
		<script src="bower_components/angular-sanitize/angular-sanitize.min.js"></script>
		<script type="text/javascript" src="bower_components/angular-ui-select/dist/select.js"></script>
		<script type="text/javascript" src="bower_components/angular-slider/slider.js"></script>
		<script type="text/javascript" src="bower_components/angular-ui-validate/dist/validate.js"></script>
		<script src="javascript/thalaiva/welcomeFile.js" type="text/javascript"></script>
	</head>
	<body>
	  	<div ng-controller="welcomeCtrl">
			<div class="page-header">
		    	<h1>Welcome Page</h1>
		  	</div>
		  	<div>
		    	<form class="form-horizontal" role="form" name="testform" novalidate>
		      		<div class="form-group">
		    	      	<label class="col-md-2 control-label">Type Your Name</label>
			          	<div class="col-md-4">
				            <input type="text" ng-model="name"  class="form-control" value="{{name}}"/>
				            <span>Hello {{ name }}!</span>
			          	</div>
		      		</div>
		      		<br/>
		      		<div class="form-group">
			      		<input ui-date="dateOptions" name="dateOfBirth" ng-model="myFavDate" ng-required="true"/>
			      		<span ng-show="testform.dateOfBirth.$error.required">Date is required.</span>
		      		</div>
		      		<br/>
		      		<div class="form-group">
			      		<input type="text" name="feedback" placeholder="Your feedback" ui-event="{focus: 'showFeedBackHelp=true', blur: 'showFeedBackHelp=false'}"/>
			      		<br/>
			      		<span ng-show="showFeedBackHelp">Why we need your feedback? Because customers are God for us</span>
		      		</div>
		    	</form>
		  	</div>

		  	<!--- Slider -->
		  	<ul>
		  		<li ng-repeat="item in items">
		  			<p>Name : {{item.name}}</p>
		  			<p>Cost : {{item.cost}}</p>
		  			<slider floor="0" ceiling="200" step="50" precision="2" ng-model="item.cost"></slider>
		  		</li>
		  	</ul>
		  	<br/>
			<div ui-calendar ng-model="eventSources" class="fc-center"></div>
		</div>
	</body>
</html>